<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iLinks.Data.Properties.Settings.Jetnett_DataConnectionString"
            connectionString="Data Source=ogt6gud01l.database.windows.net;Initial Catalog=Jetnett_Data;Persist Security Info=True;User ID=jetnett_admin"
            providerName="System.Data.SqlClient" />
        <add name="iLinks.Data.Properties.Settings.Jetnett_DataConnectionString1"
            connectionString="Data Source=ogt6gud01l.database.windows.net;Initial Catalog=Jetnett_Data;User ID=jetnett_admin"
            providerName="System.Data.SqlClient" />
        <add name="iLinks.Data.Properties.Settings.Jetnett_DataConnectionString2"
            connectionString="Data Source=ogt6gud01l.database.windows.net;Initial Catalog=Jetnett_Data;Persist Security Info=True;User ID=jetnett_admin;Password=Mad15onmetr0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>